[package]
name    = "publisher"
version = "0.0.1"

authors     = ["Pavan Kumar Sunkara <pavan.sss1991@gmail.com>"]
description = "Tool to publish & distribute CLI tools"
homepage    = "https://github.com/termapps/publisher"
repository  = "https://github.com/termapps/publisher"

edition      = "2021"
rust-version = "1.67.0"

categories = ["command-line-utilities"]
license    = "MIT"
readme     = "README.md"

[dependencies]
clap                = { version = "~4.1.8", features = ["derive", "wrap_help"] }
clap-verbosity-flag = "~2.0.0"
concolor-clap       = { version = "=0.0.14", features = ["api_unstable"] }
env_logger          = { version = "~0.10.0", default-features = false, features = ["auto-color", "color"] }
log                 = "0.4.17"
thiserror           = "~1.0.39"

config = { version = "0.13.3", default-features = false, features = ["toml"] }
heck   = "0.4.1"
serde  = { version = "1.0.153", features = ["derive"] }
xshell = "0.2.3"

[[bin]]
name = "publisher"
path = "src/main.rs"

[profile.release]
lto = "thin"

[workspace.metadata.workspaces]
no_individual_tags = true
